@model OrdersReportApp.ViewModels.NewOrderViewModel
<div id="addingModal" class="modal fade" tabindex="1" role="dialog" aria-labelledby="addingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" asp-validation-summary="All">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="addingModalLabel" class="modal-title">Добавление заказа</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="custom-form" asp-action="AddOrder" asp-controller="Order" asp-antiforgery="true" novalidate>
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="Date"></label>
                        <input class="form-control" name="Date" type="date" asp-for="Date" required/>
                        <span class="invalid-feedback" asp-validation-for="Date"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price"></label>
                        <input class="form-control" name="Price" type="text" asp-for="Price" required/>
                        <span class="invalid-feedback" asp-validation-for="Price"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Добавить</button>
                        <button type="reset" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
