@model OrdersReportApp.ViewModels.ReportViewModel
<div id="reportModal" class="modal fade" tabindex="1" role="dialog" aria-labelledby="updatingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="updatingModalLabel" class="modal-title">Оформление отчета</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="UploadReport" asp-controller="Orders" asp-antiforgery="true">
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="From">Дата заказа с</label>
                        <input type="date" class="form-control" asp-for="From" />
                    </div>
                    <div class="form-group">
                        <label asp-for="To">Дата заказа по</label>
                        <input type="date" class="form-control" asp-for="To" />
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Загрузить</button>
                        <button type="reset" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>